---
apiVersion: v1
kind: Service
metadata:
  name: cpu-intensive
  namespace: default
  labels:
    app: cpu-intensive
    component: sample-app
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8080
    targetPort: http
    protocol: TCP
  selector:
    app: cpu-intensive
