apiVersion: v1
kind: Service
metadata:
  name: variable-load
  namespace: default
  labels:
    app: variable-load
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: variable-load
