apiVersion: v1
kind: Service
metadata:
  name: memory-intensive
  namespace: default
  labels:
    app: memory-intensive
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: memory-intensive
